{{ define "site-navigation" }}
   {{/* We can override any block in the baseof file be defining it in the template */}}
  {{ partial "site-navigation-single.html" . }}
{{ end }}

{{ define "main" }}
    <section id="meetups" class="bg-one"><div id="ancla1"></div>
        <div style="display:block; height: 100px;"></div>
        <div class="section-one">
            <div class="title-one">Meetups</div>
            <div class="data-content-one">
                {{ $paginator := (.Paginate ( where .Site.RegularPages "Type" "meetups" ) ) }}
                {{ range $paginator.Pages.ByDate.Reverse }}
                    <div class="line line-1" style="margin: 60px auto;"></div>
                    <h2><a href="{{.Permalink}}">{{.Title}}</a></h2>
                    <div>
                        {{ .Summary }} [...]
                    </div>
                    <time>Meetup Date: {{ .Date.Format "2.1.2006 at 15:04" }}</time>
                {{end}}
                {{ template "_internal/pagination.html" . }}
            </div>
         </div>
    </section><!-- end about -->

{{ end }}
