{{ define "main" }}
    <section class="bg-one">
        <div class="section-one">
            <div class="title-one">Jobs</div>
            <div class="data-content-one">{{ .Content }}</div>
            <div class="data-content-one">
                {{ $paginator := (.Paginate ( where .Site.RegularPages "Type" "jobs" ) ) }}
                {{ range $paginator.Pages.ByDate.Reverse }}
                    <div class="line line-1" style="margin: 60px auto;"></div>
                    <h2><a href="{{.Permalink}}">Role: {{.Params.Title}}</a></h2>
                    <div>
                        {{ .Summary | plainify }} [...]
                    </div>
                    <time>Position currently open</time>

                {{end}}
                {{ template "_internal/pagination.html" . }}
            </div>
         </div>
    </section><!-- end about -->

{{ end }}
