{{ define "site-navigation" }}
   {{/* We can override any block in the baseof file be defining it in the template */}}
  {{ partial "site-navigation-single.html" . }}
{{ end }}

{{ define "main" }}
    <section id="meetups" class="bg-one"><div id="ancla1"></div>
        <div class="section-one">
            <div class="title-one">Jobs</div>
            <div class="data-content-one">Here you find the list of our current open positions. If your profession is in a different field and you would like to work with us: send us an initiative application to <a href="mailto:jobs@green-coding.org">jobs@green-coding.org</a></div>
            <div class="data-content-one">
                {{ $paginator := (.Paginate ( where .Site.RegularPages "Type" "jobs" ) ) }}
                {{ range $paginator.Pages.ByDate.Reverse }}
                    <div class="line line-1" style="margin: 60px auto;"></div>
                    <h2><a href="{{.Permalink}}">Role: {{.Params.Title}}</a></h2>
                    <div>
                        {{ .Summary }} [...]
                    </div>
                    <time>Position currently open</time>

                {{end}}
                {{ template "_internal/pagination.html" . }}
            </div>
         </div>
    </section><!-- end about -->

{{ end }}
