{{ define "site-navigation" }}
   {{/* We can override any block in the baseof file be defining it in the template */}}
  {{ partial "site-navigation-single.html" . }}
{{ end }}

{{ define "main" }}
    <section class="single-page bg-one"><div id="ancla1"></div>
        <div class="section-one">
            <div class="title-one">{{ .Title }}</div>
            <div class="separator"><div class="line line-1"></div></div>

            <div class="data-content-one">
                {{ .Content }}
            </div>
            <div class="btn-one-center">
                <div class="btn-one">
                    <span><a href="mailto:jobs@green-coding.io?subject=I would like to work with you :)" style="text-decoration: none; color: #fff;">Apply now via email</a></span>
                </div>
            </div>

         </div>
    </section><!-- end about -->

{{ end }}
