{{ define "main" }}

    <section id="blog" class="bg-one"><div id="ancla1"></div>
        <div class="section-one">
            <div class="title-one">Blog</div>
            <div class="data-content-one">
                {{ $paginator := (.Paginate ( where .Site.RegularPages "Type" "blog" ) ) }}
                {{ range $paginator.Pages.ByDate.Reverse }}
                    <div class="line line-1" style="margin: 60px auto;"></div>
                    <h2><a href="{{.Permalink}}">{{.Title}}</a></h2>
                    <div>
                        {{ .Summary }} [...]
                    </div>
                    <br>
                    <time style="display:inline;">{{ .Date.Format "Mon, Jan 2, 2006" }}</time><span style="display:inline"> - by </span><a href="{{.Params.Authorlink}}" style="display:inline;">{{.Params.Author}} <img src="/img/t-linkedin.webp" style="padding-left:  4px;padding-bottom: 4px; width: 16px; height: 16px;"></a>
                {{end}}
                <div style="display: block; clear: both; margin-top: 50px;">{{ template "_internal/pagination.html" . }}</div>
            </div>
         </div>

    </section><!-- end about -->

{{ end }}
