{{ define "main" }}
<section class="single-page bg-one"><div id="ancla1"></div>
    <div class="data-content-one">
        <div class="section-one">
            <div class="title-one">{{.Params.Title}}</div>
            <div style="text-align: center;">
                <time style="display:inline;">{{ .Date.Format "Mon, Jan 2, 2006" }}</time><span style="display:inline"> - by </span><a href="{{.Params.Authorlink}}" style="display:inline;">{{.Params.Author}} <img src="/img/t-linkedin.webp" style="padding-left:  4px;padding-bottom: 4px; width: 16px; height: 16px;"></a>
            </div>
            <div class="data-content-one">
                {{ .Content }}
            </div>
         </div>
    </div>
</section>
{{ end }}
