<!DOCTYPE html>
<html lang="{{ with .Site.Language }}{{ . }}{{ else }}en{{ end }}" class="no-js">
<head>
  <meta charset="utf-8">
  <!--  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
  <!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
  <title>{{ block "title" . }}{{ with .Params.Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
  <meta name="author" content="{{.Params.Author}}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="msvalidate.01" content="047ED770C38FE8200066EA08D7D93ED7" />
  <meta name="google-site-verification" content="tPwJJw8YDSbAj8D2PCnMjnX5la8L0ELp7JCvQLKau8A" />
  <!-- For Facebook, LinkedIn etc. -->
  <meta property="og:type" content="{{ if .Page.IsHome }}website{{ else }}article{{ end }}">
  <meta property="og:title" content="{{ .Params.Title }}">
  <meta property="og:url" content="{{ .Page.Permalink }}">
  <meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
  <meta property="og:image" content="{{ .Site.BaseURL }}{{ with .Params.socialmedia_preview }}{{ . }}{{ else }}green-coding-block-logo.png{{ end }}">

  {{ if eq (.Params.Noindex) true }}
      <meta name="robots" content="noindex, follow">
  {{ else }}
      <meta robots="robots" CONTENT="index, follow">
  {{ end }}

  {{ $site_title_rss := .Site.Title }}
  {{ $page_title_rss := .Page.Title }}
  {{ with  .OutputFormats.Get "rss" }}
      <link rel="alternate" type="application/rss+xml" title="{{$site_title_rss}} - {{$page_title_rss}} Feed" href="{{.Permalink}}" />
  {{ end }}
  {{ partial "site-scripts.html" . }}

  {{/* The following block means:
      If there is a CSS file called the SAME name as the current page, please output
      that. This functionality enables custom CSS files per template.
      Example:
          - index.css inside of /layouts would render for the main page
          - single.css inside of /layouts/events would render only for single event pages etc.

      Important: Remember to set also the [outputs] rule in the config.toml accordingly
  */}}
  {{ with  .OutputFormats.Get "css" }}
      <link rel="stylesheet" href="{{.Permalink}}"  />
  {{ end }}

    {{ partial "site-style.html" . }}

    {{ block "favicon" . }}
      {{ partialCached "site-favicon.html" . }}
    {{ end }}
  </head>

  <body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    <div id="header" class="parentContainer container">
        <div class="header-container">
            <a href="/"><div class="content-logo">
                <div class="company-name">green <span>coding;</span></div>
            </div></a>
            {{ block "site-navigation" . }}{{ partial "site-navigation.html" .}}{{ end }}
        </div>
    </div> <!-- end header-->

    {{ block "main" . }}{{ end }}

    {{ partial "site-footer.html" . }}

  </body>
</html>
