{{ define "site-navigation" }}
   {{/* We can override any block in the baseof file be defining it in the template */}}
  {{ partial "site-navigation-single.html" . }}
{{ end }}

{{ define "main" }}
    <section class="single-page bg-one"><div id="ancla1"></div>
        <div class="section-one">
            <div class="title-one">{{.Params.Title}}</div>
            <div class="data-content-one">
                {{ .Content }}
            </div>
         </div>
    </section><!-- end about -->

{{ end }}
