{{ define "main" }}
    <section id="single-page" class="bg-one">
        <div style="display:block; height: 100px;"></div>
        <div class="section-one">
            <div class="title-one">{{.Params.Title}}</div>
            <div style="text-align: center;">
                <time style="display:inline;">{{ .Date.Format "Mon, Jan 2, 2006" }}</time><span style="display:inline"> - by </span><a href="{{.Params.Authorlink}}" style="display:inline;">{{.Params.Author}} <img src="/img/t-linkedin.webp" style="padding-left:  4px;padding-bottom: 4px; width: 16px; height: 16px;"></a>
            </div>
            <div class="data-content-one">
                {{ .Content }}
            </div>
         </div>
    </section><!-- end about -->

{{ end }}
