<div class="ui horizontal divider header"><i class="tag icon"></i>Comparison Table</div>
<br>
<div class="ui three column stackable grid">
    <div class="ui column">
    <div class="ui fluid card">
        <div class="content">
            <div class="header center aligned">Community version</div>
            <div class="meta center aligned">free and open source</div>
            <div class="ui divider horizontal">0 EUR / month</div>
            <div class="ui list">
                <div class="item"><i class="icon checkmark"></i> <div class="content">
                    Fully featured local measurement
                </div></div>
                <div class="item"><i class="icon checkmark"></i> <div class="content">
                    All Metric Providers included
                </div></div>
                <div class="item"><i class="icon checkmark"></i> <div class="content">
                    AGPLv3 licensed
                </div></div>
                <div class="item"><i class="icon checkmark"></i> <div class="content">
                    Install cluster on your own
                </div></div>
                <div class="item"><i class="icon checkmark"></i> <div class="content">
                    Free SaaS tier for open source communities
                </div></div>
                <div class="item"><i class="icon checkmark"></i> <div class="content">
                    Github Issues community support
                </div></div>
                <div class="item"><i class="icon checkmark"></i> <div class="content">
                    Basic optimizations
                    <br><small>Example & resource based</small>
                </div></div>
                <hr>
                <div class="item"><i class="icon times"></i> <div class="content">
                    No GPU support on hosted SaaS version
                </div></div>
                <div class="item"><i class="icon times"></i> <div class="content">
                    No setup support
                </div></div>
                <div class="item"><i class="icon times"></i> <div class="content">
                    No measurement support
                </div></div>
                <div class="item"><i class="icon times"></i> <div class="content">
                    Only public git repositories
                </div></div>
            </div>
        </div>
        <div class="extra content">
            <a class="ui button fluid grey" href='https://github.com/green-coding-solutions/green-metrics-tool'>Free (Download on Github)</a>
        </div>
    </div>
    </div>
    <div class="ui column">
    <div class="ui card fluid raised">
        <div class="content">
            <div class="header center aligned">Premium</div>
            <div class="meta center aligned">Support & maintenance.</div>
            <div class="ui divider horizontal">250 EUR / month</div>
            <div class="ui list">
                <div class="item"><i class="icon checkmark blue"></i> <div class="content">
                    <b>All</b> Community Features
                </div></div>
                <div class="item"><i class="icon checkmark blue"></i> <div class="content">
                    Hosted <b>SaaS</b> version
                    <br><small>Serviced updates and maintenance</small>
                </div></div>
                <div class="item"><i class="icon checkmark blue"></i> <div class="content">
                    <b>10.000</b> benchmarking minutes
                    <br><small>Up to <b>5 hours</b> per single measurement</small>
                    <br><small>(Additional minutes can be purchased)</small>
                </div></div>
                <div class="item"><i class="icon checkmark blue"></i> <div class="content">
                    <b>GPU</b> support
                    <br><small>To benchmark LLMs or other AI/ML jobs</small>
                </div></div>
                <div class="item"><i class="icon checkmark blue"></i> <div class="content">
                    <b>120</b> days of data retention
                </div></div>
                <div class="item"><i class="icon checkmark blue"></i> <div class="content">
                    <b>Private</b> git repositories
                </div></div>
                <div class="item"><i class="icon checkmark blue"></i> <div class="content">
                    <b>Advanced</b> optimizations
                    <br><small>Algorithmical & resource based</small>
                    <br><small>- <a href="#optimizations">Screenshots</a></small>
                </div></div>
                <div class="item"><i class="icon checkmark blue"></i> <div class="content">
                    <b>Offset contolled</b> cluster
                    <br><small><a href="https://metrics.green-coding.io/timeline.html?uri=https://github.com/green-coding-solutions/measurement-control-workload&filename=usage_scenario.yml&branch=event-bound&machine_id=7">Measurements guaranteed < 1% Std.Dev</a></small>
                </div></div>
                <div class="item"><i class="icon checkmark blue"></i> <div class="content">
                    <b>6+</b> different measurement machines
                    <br><small>Including GUI / k3s / systemd applications</small>
                    <br><small><a href="https://docs.green-coding.io/docs/measuring/measurement-cluster/">See all available machines</a></small>
                </div></div>
                <div class="item"><i class="icon checkmark blue"></i> <div class="content">
                    <b>Blauer Engel</b> für Software
                    <br><small>Report & Audit Dokument Generator (Paid addon)</small>
                </div></div>
                <div class="item"><i class="icon checkmark blue"></i> <div class="content">
                    <b>High precision</b> measurements
                    <br><small><a href="/blog/nop-linux/">See details (NOP Linux)</a></small>
                </div></div>
                <div class="item"><i class="icon checkmark blue"></i> <div class="content">
                    <b>Support</b> the development
                </div></div>
            </div>
        </div>
        <div class="extra content">
            <a class="ui button fluid blue" href="mailto:info@green-coding.io">Get in touch</a>
        </div>
    </div>
    </div>
    <div class="ui column">
    <div class="ui fluid card">
        <div class="content">
            <span class="ui label left corner blue">
                <i class="icon plus"></i>
            </span>
            <div class="header center aligned">Enterprise</div>
            <div class="meta center aligned">Custom to your needs</div>
            <div class="ui divider horizontal">Individual pricing</div>
            <div class="ui list">
                <div class="item"><i class="icon checkmark blue"></i> <div class="content">
                    Includes <b>all</b> Premium features
                </div></div>
                <div class="item"><i class="icon checkmark blue"></i> <div class="content">
                    <b>Unlimited</b> measurements
                </div></div>
                <div class="item"><i class="icon checkmark blue"></i> <div class="content">
                    <b>24h+</b> duration for single measurements
                </div></div>
                <div class="item"><i class="icon checkmark blue"></i> <div class="content">
                    <b>Unlimited</b> data rentention
                </div></div>
                <div class="item"><i class="icon checkmark blue"></i> <div class="content">
                    <b>Individual</b> setup & support
                </div></div>
                <div class="item"><i class="icon checkmark blue"></i> <div class="content">
                    <b>Individual</b> support contact
                </div></div>
                <div class="item"><i class="icon checkmark blue"></i> <div class="content">
                    <b>Development</b> & <b>Customization</b>
                </div></div>
                <div class="item"><i class="icon checkmark blue"></i> <div class="content">
                    <b>Custom</b> metric providers
                </div></div>
                <div class="item"><i class="icon checkmark blue"></i> <div class="content">
                    <b>Authentication</b> and <b>ACL</b> for users
                </div></div>
                <div class="item"><i class="icon checkmark blue"></i> <div class="content">
                    <b>Self-hosted</b> or <b>private isolated SaaS</b>
                </div></div>
                <div class="item"><i class="icon checkmark blue"></i> <div class="content">
                    <b>Whitelabel</b> & <b>Dual-Licensing</b>
                </div></div>
                <div class="item"><i class="icon checkmark blue"></i> <div class="content">
                    Advanced <b>Green Coding AI</b> Optimizations (beta)
                    <br><small>Code introspection & prediction</small>
                </div></div>
            </div>
        </div>
        <div class="extra content">
            <a class="ui button fluid blue" href="mailto:info@green-coding.io">Get in touch</a>
        </div>
    </div>
    </div>
</div>

<br>
<br>