<div class="ui relaxed divided items">
    {{ range $index, $element := sort (where .Site.RegularPages "Type" "products") ".Params.ordering" "asc" }}
    <div class="item" id="item{{$index}}">
        <div class="ui image">
            <i class="{{ .Params.Icon }} huge black icon"></i>
        </div>
        <div class="content">
            <div class="header" >{{ .Title }}</div>
            <p>{{.Params.Desc}}</p>
            <div class="extra">
                <a class="ui right floated primary button" href="{{.Permalink}}">
                    {{i18n "home_cta"}}
                </a>
            </div>
        </div>
    </div>
    {{end}}
</div>

