<section id="references" class="bg-one">
    <div class="section-three">
        <h2><div class="title-one">{{i18n "references"}}</div></h2>
        <div class="separator">
            <div class="line line-1"></div>
        </div>
        <div class="data-content-three">
            <img src="/img/references/axel-springer-logo.webp" alt="Axel Springer Logo">
            <img src="/img/references/LHIND.webp" alt="Lufthansa Industry Solutions Logo">
            <a href="https://sdialliance.org" aria-label="SDIAlliance Website"><img src="/img/references/sdia-logo.webp" alt="SDIAlliance Logo"></a>
            <img src="/img/references/bits-und-baeume-logo.webp" alt="Bits & Bäume Logo">
            <a href="https://fosdem.org/" aria-label="FOSDEM"><img src="/img/references/fosdem.webp" alt="FOSDEM Logo"></a>
            <a href="https://www.arbeitsagentur.de/vor-ort/it-systemhaus/vorstellung" aria-label="Arbeitsagentur Systemhaus Website"><img src="/img/references/ba-it-systemhaus.webp" alt="Arbeitsagentur IT Systemhaus Logo"></a>
            <a href="https://www.rohde-schwarz.de/" aria-label="Rohde & Schwarz"><img src="/img/references/RS.webp" alt="Rohde & Schwarz"></a>
            <a href="https://www.htw-berlin.de/" aria-label="HTW Berlin Website"><img src="/img/references/htw-logo.webp" alt="HTW Berlin Logo"></a>
            <a href="https://www.opentext.com/" aria-label="OpenText Website"><img src="/img/references/opentext.webp" alt="OpenText Logo"></a>
            <a href="https://www.thegreenwebfoundation.org/" aria-label="The Green Web Foundation Website"><img src="/img/references/GWF-logo.svg" alt="The Green Web Foundation Logo"></a>
        </div>
    </div>
    <div class="separator">
        <div class="line line-1"></div>
    </div>
</section>