<section id="references" class="bg-one">
    <div class="section-three">
        <h2><div class="title-one">{{i18n "references"}}</div></h2>
        <div class="separator">
            <div class="line line-1"></div>
        </div>
        <div class="data-content-three">
            <img src="/img/references/axel-springer-logo.webp">
            <img src="/img/references/wbs-coding-school-logo.webp">
            <img src="/img/references/LHIND.webp">
            <a href="https://sdialliance.org"><img src="/img/references/sdia-logo.webp"></a>
            <img src="/img/references/bits-und-baeume-logo.webp">
            <a href="https://www.enviroinfo2023.eu/programme/schedule-overview/wednesday-schedule/#1894286d"><img src="/img/references/enviroinfo-logo.webp"></a>
            <img src="/img/references/ironhack.webp">
            <a href="https://fosdem.org/2023/schedule/track/energy/"><img src="/img/references/fosdem-2023.webp"></a>
            <a href="https://www.arbeitsagentur.de/vor-ort/it-systemhaus/vorstellung"><img src="/img/references/ba-it-systemhaus.webp"></a>
            <a href="https://www.htw-berlin.de/"><img src="/img/references/htw-logo.webp"></a>

        </div>
    </div>
    <div class="separator">
        <div class="line line-1"></div>
    </div>
    <div class="data-content-three">
        {{i18n "list_orgs"}}
    </div>
</section>