<section id="references" class="bg-one">
    <div class="section-three">
        <h2><div class="title-one">{{i18n "references"}}</div></h2>
        <div class="separator">
            <div class="line line-1"></div>
        </div>
        <div class="data-content-three marquee-container">
            <div class="marquee-content">
                <img src="/img/references/axel-springer-logo.webp" alt="Axel Springer Logo">
                <img src="/img/references/wbs-coding-school-logo.webp" alt="WBS Coding School Logo">
                <img src="/img/references/LHIND.webp" alt="Lufthansa Industry Solutions Logo">
                <a href="https://sdialliance.org" aria-label="SDIAlliance Website"><img src="/img/references/sdia-logo.webp" alt="SDIAlliance Logo"></a>
                <a href="https://www.enviroinfo2023.eu/programme/schedule-overview/wednesday-schedule/#1894286d" aria-label="EnviroInfo 2023 schedule"><img src="/img/references/enviroinfo-logo.webp" alt="EnviroInfo Logo"></a>
                <a href="https://www.arbeitsagentur.de/vor-ort/it-systemhaus/vorstellung" aria-label="Arbeitsagentur Systemhaus Website"><img src="/img/references/ba-it-systemhaus.webp" alt="Arbeitsagentur IT Systemhaus Logo"></a>
                <a href="https://www.htw-berlin.de/" aria-label="HTW Berlin Website"><img src="/img/references/htw-logo.webp" alt="HTW Berlin Logo"></a>
                <a href="https://www.opentext.com/" aria-label="OpenText Website"><img src="/img/references/opentext.webp" alt="OpenText Logo"></a>
                <a href="https://www.thegreenwebfoundation.org/" aria-label="The Green Web Foundation Website"><img src="/img/references/GWF-logo.svg" alt="The Green Web Foundation Logo"></a>
            </div>
            <div class="marquee-content">
                <img src="/img/references/axel-springer-logo.webp" alt="Axel Springer Logo">
                <img src="/img/references/wbs-coding-school-logo.webp" alt="WBS Coding School Logo">
                <img src="/img/references/LHIND.webp" alt="Lufthansa Industry Solutions Logo">
                <a href="https://sdialliance.org" aria-label="SDIAlliance Website"><img src="/img/references/sdia-logo.webp" alt="SDIAlliance Logo"></a>
                <a href="https://www.enviroinfo2023.eu/programme/schedule-overview/wednesday-schedule/#1894286d" aria-label="EnviroInfo 2023 schedule"><img src="/img/references/enviroinfo-logo.webp" alt="EnviroInfo Logo"></a>
                <a href="https://www.arbeitsagentur.de/vor-ort/it-systemhaus/vorstellung" aria-label="Arbeitsagentur Systemhaus Website"><img src="/img/references/ba-it-systemhaus.webp" alt="Arbeitsagentur IT Systemhaus Logo"></a>
                <a href="https://www.htw-berlin.de/" aria-label="HTW Berlin Website"><img src="/img/references/htw-logo.webp" alt="HTW Berlin Logo"></a>
                <a href="https://www.opentext.com/" aria-label="OpenText Website"><img src="/img/references/opentext.webp" alt="OpenText Logo"></a>
                <a href="https://www.thegreenwebfoundation.org/" aria-label="The Green Web Foundation Website"><img src="/img/references/GWF-logo.svg" alt="The Green Web Foundation Logo"></a>
            </div>
        </div>


    </div>
    <div class="separator">
        <div class="line line-1"></div>
    </div>
    <div class="data-content-three">
        {{i18n "list_orgs"}}
    </div>
</section>