{{/*
  The following block is using minification for the assets.

  If you just want to normally include the assets, place them in
  /static instead of /assets and include them as known:

    <script src="/js/vendor/modernizr.custom.76532.js"></script> ...

*/}}

<link rel="stylesheet" type="text/css" href='{{ (resources.Get "css/normalize.css" | minify | fingerprint).Permalink }}'>
<link rel="stylesheet" type="text/css" href='{{ (resources.Get "css/main.css" | minify | fingerprint).Permalink }}'>
<link rel="stylesheet" type="text/css" href='{{ (resources.Get "css/base.css" | minify | fingerprint).Permalink }}'>
<link rel="stylesheet" type="text/css" href='{{ (resources.Get "css/skeleton.css" | minify | fingerprint).Permalink }}'>
<link rel="stylesheet" type="text/css" href='{{ (resources.Get "css/portfoliostyle.css" | minify | fingerprint).Permalink }}'>
<link rel="stylesheet" type="text/css" href='{{ (resources.Get "css/roll_over.css" | minify | fingerprint).Permalink }}'>
<link rel="stylesheet" type="text/css" href='{{ (resources.Get "css/layout.css" | minify | fingerprint).Permalink }}'>
<link rel="stylesheet" type="text/css" class="ui" href="/dist/css/image.min.css">

{{ if or (eq .Page.Title "CO2 Formulas") (eq .Page.Section "case-studies") (eq .Page.Section "case-studies")   }}
<link rel="stylesheet" type="text/css" class="ui" href="/dist/css/reset.min.css">
<link rel="stylesheet" type="text/css" class="ui" href="/dist/css/site.min.css">
<link rel="stylesheet" type="text/css" class="ui" href="/dist/css/icon.min.css">
<link rel="stylesheet" type="text/css" class="ui" href="/dist/css/segment.min.css">
<link rel="stylesheet" type="text/css" class="ui" href="/dist/css/message.min.css">
<link rel="stylesheet" type="text/css" class="ui" href="/dist/css/label.min.css">
<link rel="stylesheet" type="text/css" class="ui" href="/dist/css/button.min.css">
<link rel="stylesheet" type="text/css" class="ui" href="/dist/css/statistic.min.css">
<link rel="stylesheet" type="text/css" class="ui" href="/dist/css/list.min.css">
<link rel="stylesheet" type="text/css" class="ui" href="/dist/css/header.min.css">
<link rel="stylesheet" type="text/css" class="ui" href="/dist/css/table.min.css">
{{ end}}

{{ if (eq .Page.Section "blog")   }}
<link rel="stylesheet" type="text/css" class="ui" href="/dist/css/icon.min.css">
<link rel="stylesheet" type="text/css" class="ui" href="/dist/css/message.min.css">
<link rel="stylesheet" type="text/css" class="ui" href="/dist/css/table.min.css">

<link rel="stylesheet" type="text/css" class="ui" href="/dist/css/segment.min.css">
{{ end}}
