  {{/* The following block is using minification for the assets.


      If you just want to normally include the assets, place them in
      /static instead of /assets and include them as known:

        <script src="/js/vendor/modernizr.custom.76532.js"></script> ...

  */}}


<script src='{{ (resources.Get "js/jquery-1.9.0.min.js" | minify | fingerprint).Permalink }}' defer></script>
<script src='{{ (resources.Get "js/jquery.scrollTo-1.4.3.1-min.js" | minify | fingerprint).Permalink }}' defer></script>
<script src='{{ (resources.Get "js/modernizr.custom.76532.js" | minify | fingerprint).Permalink }}' defer></script>
<script src='{{ (resources.Get "js/plugins.js" | minify | fingerprint).Permalink }}' defer></script>
<script src='{{ (resources.Get "js/respond.min.js" | minify | fingerprint).Permalink }}' defer></script>
<script src='{{ (resources.Get "js/jquery.inview.js" | minify | fingerprint).Permalink }}' defer></script>
<script src='{{ (resources.Get "js/customScripts.js" | minify | fingerprint).Permalink }}' defer></script>

<script data-domain="ww.green-coding.berlin" src="https://plausible.io/js/script.js" defer></script>
<script data-domain="proxy.green-coding.berlin" data-api="https://jolly-hill-c6f0.arne5926.workers.dev/jovvvvvse" src="https://jolly-hill-c6f0.arne5926.workers.dev/worker/script.js" defer></script>