
<div class="block-menu">
     <select class="navegation_resp" onchange="if(this.options[this.selectedIndex].value.substr(0,2) == '/#') document.location.hash=this.options[this.selectedIndex].value; else document.location=this.options[this.selectedIndex].value;">
        <option value="/our-work" class="second_item">Our Work</option>
        <option value="#nav-meetups" class="second_item">Meetups</option>
        <option value="/blog" class="second_item">Blog</option>
        <option value="/jobs" class="second_item">Jobs</option>
        <option value="/co2-formulas" class="second_item">CO2-Formulas</option>
        <option value="/case-studies" class="second_item">Case Studies</option>
        <option value="#nav-team" class="second_item">Team</option>
    </select>
</div>
<div class="menu-select">
    <nav>
        <ol class="contentMenu">
            <li>
               <a href="/our-work"><div class="menubtn">
                    <div class="contentbtn">our work</div>
                </div></a>
            </li>
            <li>
               <a href="/blog"><div class="menubtn">
                    <div class="contentbtn">blog</div>
                </div></a>
            </li>
            <li>
               <a href="/jobs"><div class="menubtn">
                    <div class="contentbtn">jobs</div>
                </div></a>
            </li>
            <li>
               <a href="/co2-formulas"><div class="menubtn">
                    <div class="contentbtn">CO2-Formulas</div>
                </div></a>
            </li>
            <li>
               <a href="/case-studies"><div class="menubtn">
                    <div class="contentbtn">Case Studies</div>
                </div></a>
            </li>
        </ol>
    </nav>
</div>
