{{ $urlParts := split .Permalink "/" }}
{{ $slug := index $urlParts (sub (len $urlParts) 2) }}
<div class="block-menu">
     <select class="navigation_resp" onchange="document.location=this.options[this.selectedIndex].value;">
        {{ if .IsTranslated }}
            {{ range .Translations }}
                <option value="{{ .Permalink }}" class="second_item">Switch to {{ .Lang }}</option>
                <option disabled>──────────</option>
            {{ end }}
        {{ end }}
        {{/* We are using a hack here. Home always gets selected. This is wrong, but browser will default to apply selected only on last matched, so menu works as expected */}}
        <option value="{{ relref . "/" }}" class="second_item" selected>Home</option>
        <option value="{{ relref . "about" }}" class="second_item" {{if eq $slug "about"}}selected{{end}}>{{i18n "about"}}</option>
        <option value="{{ relref . "services" }}" class="second_item"{{if eq $slug "services"}}selected{{end}}>{{i18n "services"}}</option>
        <option value="{{ relURL "services/consulting" }}" class="second_item"  {{ if eq $slug "consulting"}}selected{{end}}>{{ i18n "consulting" }}</a></li>
        <option value="{{ relURL "services/workshops-and-trainings" }}" class="second_item"  {{ if eq $slug "workshops-and-trainings"}}selected{{end}}>{{ i18n "training" }}</a></li>
        <option value="{{ relURL "services/development-and-integrations" }}" class="second_item"  {{ if eq $slug "development-and-integrations"}}selected{{end}}>{{ i18n "development" }}</a></li>
        <option value="{{ relURL "services/blauer-engel" }}" class="second_item"  {{ if eq $slug "blauer-engel"}}selected{{end}}>{{ i18n "blauer-engel" }}</a></li>
        <option value="{{ relref . "products" }}" class="second_item"{{if eq $slug "products"}}selected{{end}}>{{i18n "products"}}</option>
        <option value="{{ relURL "products/green-metrics-tool" }}" class="second_item"  {{ if eq $slug "green-metrics-tool"}}selected{{end}}>Green Metrics Tool</a></li>
        <option value="{{ relURL "products/eco-ci" }}" class="second_item"  {{ if eq $slug "eco-ci"}}selected{{end}}>Eco-CI</a></li>
        <option value="{{ relURL "products/energy-id" }}" class="second_item"  {{ if eq $slug "energy-id"}}selected{{end}}>Energy-ID</a></li>
        <option value="{{ relURL "products/power-hog" }}" class="second_item"  {{ if eq $slug "power-hog"}}selected{{end}}>Power HOG</a></li>
        <option value="{{ relURL "products/open-energy-badge" }}" class="second_item"  {{ if eq $slug "open-energy-badge"}}selected{{end}}>Open-Energy-Badge</a></li>

        <option value="{{ relref . "/" }}#nav-events" class="second_item">{{i18n "talks"}}</option>
        <option value="{{ relURL  "blog" }}" class="second_item"{{if eq $slug "blog"}}selected{{end}}>{{i18n "blog"}}</option>
        <option value="{{ relURL "case-studies" }}" class="second_item"{{if eq $slug "case-studies"}}selected{{end}}>{{i18n "case-studies"}}</option>
        <option value="{{ relURL "jobs" }}" class="second_item"{{if eq $slug "jobs"}}selected{{end}}>{{i18n "jobs"}}</option>
        <option value="{{ relref . "co2-formulas" }}" class="second_item"{{if eq $slug "co2-formulas"}}selected{{end}}>{{i18n "co2-formulas"}}</option>
        <option value="{{ relref . "/" }}#nav-team" class="second_item">{{i18n "team"}}</option>
        <option value="{{ relref . "newsroom" }}" class="second_item">{{i18n "newsroom"}}</option>
    </select>
</div>
<div class="menu-select main-nav">
    <nav>
        <ol class="contentMenu navbar-nav">
            <li class="menubtn-bg">
               <a class="menubtn" href="{{ relref . "about" }}">
                    <div class="contentbtn">{{i18n "about"}}</div>
                </a>
            </li>
            <li class="dropdown menubtn-bg">
                <a class="nav-link dropdown-toggle menubtn" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                    <div class="contentbtn">{{i18n "products"}}</div>
                </a>
                <ol class="dropdown-menu">
                  <li class="dropdown-list-item"><a class="contentbtn dropdown-item" href="{{ relref . "products" }}">{{ i18n "overview" }}</a></li>
                  <li class="dropdown-list-item"><a class="contentbtn dropdown-item" href="{{ relURL "products/green-metrics-tool" }}">Green Metrics Tool</a></li>
                  <li class="dropdown-list-item"><a class="contentbtn dropdown-item" href="{{ relURL "products/eco-ci" }}">Eco-CI</a></li>
                  <li class="dropdown-list-item"><a class="contentbtn dropdown-item" href="{{ relURL "products/cloud-energy" }}">Cloud Energy</a></li>
                  <li class="dropdown-list-item"><a class="contentbtn dropdown-item" href="{{ relURL "products/energy-id" }}">Energy-ID</a></li>
                  <li class="dropdown-list-item"><a class="contentbtn dropdown-item" href="{{ relURL "products/power-hog" }}">Power HOG</a></li>
                  <li class="dropdown-list-item"><a class="contentbtn dropdown-item" href="{{ relURL "products/open-energy-badge" }}">Open-Energy-Badge</a></li>
                </ol>
            </li>
            <li class="dropdown menubtn-bg">
                <a class="nav-link dropdown-toggle menubtn" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                    <div class="contentbtn">{{i18n "services"}}</div>
                </a>
                <ol class="dropdown-menu">
                  <li class="dropdown-list-item"><a class="contentbtn dropdown-item" href="{{ relref . "services" }}">{{ i18n "overview" }}</a></li>
                  <li class="dropdown-list-item"><a class="contentbtn dropdown-item" href="{{ relURL "services/consulting" }}">{{ i18n "consulting" }}</a></li>
                  <li class="dropdown-list-item"><a class="contentbtn dropdown-item" href="{{ relURL "services/workshops-and-trainings" }}">{{ i18n "training" }}</a></li>
                  <li class="dropdown-list-item"><a class="contentbtn dropdown-item" href="{{ relURL "services/development-and-integrations" }}">{{ i18n "development" }}</a></li>
                  <li class="dropdown-list-item"><a class="contentbtn dropdown-item" href="{{ relURL "services/blauer-engel" }}">{{ i18n "blauer-engel" }}</a></li>
                </ol>
            </li>
            <li class="dropdown menubtn-bg">
               <a class="nav-link dropdown-toggle menubtn" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                    <div class="contentbtn">{{i18n "insights"}}</div>
                </a>
                <ol class="dropdown-menu">
                    <li class="dropdown-list-item">
                       <a class="contentbtn dropdown-item" href="{{ relURL "case-studies" }}">{{i18n "case-studies"}}</a>
                    </li>
                    <li class="dropdown-list-item">
                       <a class="contentbtn dropdown-item" href="{{ relref . "co2-formulas" }}">{{i18n "co2-formulas"}}</a>
                    </li>
                    <li class="dropdown-list-item">
                       <a class="contentbtn dropdown-item" href="{{ relURL "blog" }}">{{i18n "blog"}}</a>
                    </li>
                    <li class="dropdown-list-item">
                       <a class="contentbtn dropdown-item" href="{{ relref . "/#nav-events" }}">Talks & Events</a>
                    </li>
                </ol>
            </li>
{{/*            <li>
               <a href="{{ relref . "jobs" }}"><div class="menubtn">
                    <div class="contentbtn">{{i18n "jobs"}}</div>
                </div></a>
            </li>
*/}}
            <li>
               <a href="{{ relref . "newsroom" }}"><div class="menubtn">
                    <div class="contentbtn">{{i18n "newsroom"}}</div>
                </div></a>
            </li>
            <li>
                <a href="https://github.com/green-coding-solutions">
                    <div class="">
                     <div class="contentbtn"><i class="large github icon"></i></div>
                    </div>
                </a>
             </li>



            {{ if .IsTranslated }}
                {{ range .Translations }}
                    <li style="margin-left: 5px;">
                        <a id="language-button" href="{{ .RelPermalink }}" class="ui button menubtn" style="text-transform: uppercase">DE/EN</a>
                    </li>
                {{ end }}
            {{ else }}
                <li style="margin-left: 5px;">
                    <a id="language-button" href="#" class="ui button menubtn disabled" style="text-transform: uppercase">EN</a>
                </li>
            {{ end }}

        </ol>
    </nav>
</div>
