
<div id="footer" class="container-one">
    <div class="footer-line"></div>
    <div class="newsletter">
<!--
    <h1>Newsletter</h1>
    <input type="text" name="newsletter" id="newsletter" value="email adress" onclick="if(this.value=='email adress') this.value=''" onblur="if(this.value=='') this.value='email adress'">
    <p><a href="#" class="subscribe">Subcribe</a></p>
-->

    <div class="credits">
        <a href="/datenschutz"  style="text-decoration: none; color: #fff;">Datenschutz</a> - <a href="/impressum" style="text-decoration: none; color: #fff;">Impressum</a>
         - {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} - {{ now.Format "2006"}} {{ end }}
     </div>
     <div id="wcb" class="carbonbadge wcb-d"></div>
<script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>

    </div>
</div><!-- end footer -->
  {{/*
      The following block is using minification for the assets.

      If you just want to normally include the assets, place them in
      /static instead of /assets and include them as known:

        <script src="/js/vendor/modernizr.custom.76532.js"></script> ...

  */}}
  {{ $js_bottom_plugins := resources.Get "js/plugins.js" }}
  {{ $js_bottom_respond := resources.Get "js/respond.min.js" }}
  {{ $js_bottom_inview := resources.Get "js/jquery.inview.js" }}
  {{ $js_bottom_custom := resources.Get "js/customScripts.js" }}

  {{ $js_bottom := slice $js_bottom_plugins $js_bottom_respond $js_bottom_inview $js_bottom_custom | resources.Concat "js/bundle_bottom.js" | minify | fingerprint }}
  <script src="{{ $js_bottom.Permalink }}"></script>


<!-- Recent Works Slider -->

<!--  end Recent Works Slider -->

    </body>
</html>