
<div class="block-menu">
     <select class="navegation_resp" onchange="document.location=this.options[this.selectedIndex].value;">
        <option value="/" selected="selected">Home</option>
        <option value="/#nav-about" class="second_item">About</option>
        <option value="/meetups" class="second_item">Meetups</option>
        <option value="/blog" class="second_item">Blog</option>
        <option value="/#nav-team" class="second_item">Team</option>
        <option value="/#nav-contact" class="second_item">Contact</option>
    </select>
</div>
<div class="menu-select">
    <nav>
        <ol class="contentMenu">
            <li>
                <a href="/"><div class="menubtn">
                    <div class="contentbtn">home</div>
                </div></a>
            </li>
              <li>
                <a href="/#nav-about"><div class="menubtn">
                    <div class="contentbtn">about</div>
                </div></a>
            </li>
            <li>
               <a href="/meetups"><div class="menubtn">
                    <div class="contentbtn">meetups</div>
                </div></a>
            </li>
            <li>
               <a href="/blog"><div class="menubtn">
                    <div class="contentbtn">blog</div>
                </div></a>
            </li>
            <li>
                <a href="/#nav-team"><div class="menubtn">
                    <div class="contentbtn">team</div>
                </div></a>
            </li>
              <li>
                <a href="/#nav-contact"><div class="menubtn">
                    <div class="contentbtn">contact</div>
                </div></a>
            </li>
        </ol>
    </nav>
</div>
