

<div id="footer" class="container-one">
    <div class="footer-line"></div>
    <div class="newsletter" style="width: 100%;" >
        <form action="https://green-coding.us14.list-manage.com/subscribe" method="GET" style="display: flex; flex-flow:  row wrap; justify-content: center;">
            <h3 style="margin:  0px; margin-top: 10px; margin-left: 10px; align-self: center;">Newsletter</h3>
            <input type="hidden" value="95bb62bd0ea664ca96566837e" name="u" />
            <input type="hidden" value="772d3b0db9" name="id" />
            <div style="display: flex; flex-flow: row nowrap; flex-grow:2; justify-content:  center; max-width: 600px; align-self: flex-start; margin-top: 10px;">
                <input type="text" name="MERGE0" id="newsletter" placeholder="email address" style="flex-grow:1; margin-left: 10px; width: 200px;" >
                <input type="submit" class="subscribe" name="submit" id="newsletter-button" style="margin:  0px; margin-right: 10px !important; ">
            </div>
            </form>
    </div>
    <div style="text-align: center; margin-left: -40px;">👉 <a href="/newsletter-archive" style="color: #fff;">View our previous newsletters (Archive)</a></div>

    <div class="credits" style="margin-top: 10px;">
        {{ $sections := where $.Site.Pages ".Kind" "section" }}
        {{ range $sections }}
              {{ $site_title_rss := .Site.Title }}
              {{ $page_title_rss := .Page.Title }}
              {{ with  .OutputFormats.Get "rss" }}
                  <a type="application/rss+xml" title="{{ $site_title_rss }} - {{ $page_title_rss }} Feed" href="{{.Permalink}}"><img src="/img/rss.webp" height="20"> {{ $page_title_rss }}</a>&nbsp; &nbsp;
              {{ end }}
        {{ end }}
    </div>

    <div>&nbsp;</div>
    <div class="credits">
        <a href="/datenschutz"  style="text-decoration: none; color: #fff;">Datenschutz</a> - <a href="/impressum" style="text-decoration: none; color: #fff;">Impressum</a>
         - {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} - {{ now.Format "2006"}} {{ end }}
    </div>

    <div class="data-content-three">
         <a href="https://www.thegreenwebfoundation.org/green-web-check/?url=www.green-coding.io"><img src="/img/gwf-badge.webp" alt="This website is hosted Green - checked by thegreenwebfoundation.org"></a>
        <div id="wcb" class="carbonbadge wcb-d"></div>
        <script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>
    </div>

</div><!-- end footer -->
