{{ $urlParts := split .Permalink "/" }}
{{ $slug := index $urlParts (sub (len $urlParts) 2) }}
<div class="block-menu">
     <select class="navigation_resp" onchange="document.location=this.options[this.selectedIndex].value;">
        {{ if .IsTranslated }}
            {{ range .Translations }}
                <option value="{{ .Permalink }}" class="second_item">Switch to {{ .Lang }}</option>
            {{ end }}
        {{ end }}
        {{/* We are using a hack here. Home always gets selected. This is wrong, but browser will default to apply selected only on last matched, so menu works as expected */}}
        <option value="{{ absLangURL "/" }}" class="second_item" selected>Home</option>
        <option value="{{ absLangURL "about" }}" class="second_item" {{if eq $slug "about"}}selected{{end}}>{{i18n "about"}}</option>
        <option value="{{ absLangURL "services" }}" class="second_item"{{if eq $slug "services"}}selected{{end}}>{{i18n "services"}}</option>
        <option value="{{ absLangURL "/" }}#nav-events" class="second_item">{{i18n "talks"}}</option>
        <option value="{{ absLangURL "blog" }}" class="second_item"{{if eq $slug "blog"}}selected{{end}}>{{i18n "blog"}}</option>
        <option value="{{ absLangURL "jobs" }}" class="second_item"{{if eq $slug "jobs"}}selected{{end}}>{{i18n "jobs"}}</option>
        <option value="{{ absLangURL "co2-formulas" }}" class="second_item"{{if eq $slug "co2-formulas"}}selected{{end}}>{{i18n "formulas"}}</option>
        <option value="{{ absURL "case-studies" }}" class="second_item"{{if eq $slug "case-studies"}}selected{{end}}>{{i18n "studies"}}</option>
        <option value="{{ absLangURL "/" }}#nav-team" class="second_item">{{i18n "team"}}</option>
    </select>
</div>
<div class="menu-select main-nav">
    <nav>
        <ol class="contentMenu navbar-nav">
            <li>
               <a href="{{ absLangURL "about" }}"><div class="menubtn">
                    <div class="contentbtn">{{i18n "about"}}</div>
                </div></a>
            </li>
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="{{ absLangURL "services" }}"><div class="menubtn">
                    <div class="contentbtn">{{i18n "services"}}</div>
                </div></a>
                <ol class="dropdown-menu">
                  <li class="dropdown-list-item"><a class="contentbtn dropdown-item" href="{{ absLangURL "overview" }}">{{ i18n "overview" }}</a></li>
                  <li class="dropdown-list-item"><a class="contentbtn dropdown-item" href="{{ absLangURL "consulting" }}">{{ i18n "consulting" }}</a></li>
                  <li class="dropdown-list-item"><a class="contentbtn dropdown-item" href="{{ absLangURL "training" }}">{{ i18n "training" }}</a></li>
                  <li class="dropdown-list-item"><a class="contentbtn dropdown-item" href="{{ absLangURL "development" }}">{{ i18n "development" }}</a></li>
                  <li class="dropdown-list-item"><a class="contentbtn dropdown-item" href="{{ absLangURL "operations" }}">{{ i18n "sustainablity-operations" }}</a></li>
                </ol>
            </li>
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="{{ absLangURL "services" }}"><div class="menubtn">
                    <div class="contentbtn">{{i18n "research"}}</div>
                </div></a>
                <ol class="dropdown-menu">
                  <li class="dropdown-list-item"><a class="contentbtn dropdown-item" href="{{ absURL "blog" }}">{{i18n "blog"}}</a></li>
                  <li class="dropdown-list-item"><a class="contentbtn dropdown-item" href="{{ absURL "case-studies" }}">{{i18n "studies"}}</a></li>
                </ol>
            </li>
            <li>
               <a href="{{ absURL "jobs" }}"><div class="menubtn">
                    <div class="contentbtn">{{i18n "jobs"}}</div>
                </div></a>
            </li>
            <li>
               <a href="{{ absLangURL "co2-formulas" }}"><div class="menubtn">
                    <div class="contentbtn">{{i18n "formulas"}}</div>
                </div></a>
            </li>
            {{ if .IsTranslated }}
                {{ range .Translations }}
                    <li style="margin-left: 5px;">
                        <a href="{{ .Permalink }}" class="ui button menubtn" style="text-transform: uppercase">DE/EN</a>
                    </li>
                {{ end }}
            {{ else }}
                <li style="margin-left: 5px;">
                    <a href="#" class="ui button menubtn" style="text-transform: uppercase">EN</a>
                </li>
            {{ end }}

        </ol>
    </nav>
</div>
