{{/*
  The following block is using minification for the assets.

  If you just want to normally include the assets, place them in
  /static instead of /assets and include them as known:

    <script src="/js/vendor/modernizr.custom.76532.js"></script> ...

*/}}

<link rel="stylesheet" type="text/css" href='{{ (resources.Get "css/normalize.css" | resources.PostCSS | minify | fingerprint | resources.PostProcess ).RelPermalink }}'>
<link rel="stylesheet" type="text/css" href='{{ (resources.Get "css/main.css" | resources.PostCSS | minify | fingerprint | resources.PostProcess).RelPermalink }}'>
<link rel="stylesheet" type="text/css" href='{{ (resources.Get "css/base.css" | resources.PostCSS | minify | fingerprint | resources.PostProcess).RelPermalink }}'>
<link rel="stylesheet" type="text/css" href='{{ (resources.Get "css/skeleton.css" | resources.PostCSS | minify | fingerprint | resources.PostProcess).RelPermalink }}'>
<link rel="stylesheet" type="text/css" href='{{ (resources.Get "css/portfoliostyle.css" | resources.PostCSS | minify | fingerprint | resources.PostProcess).RelPermalink }}'>
<link rel="stylesheet" type="text/css" href='{{ (resources.Get "css/roll_over.css" | resources.PostCSS | minify | fingerprint | resources.PostProcess).RelPermalink }}'>
<link rel="stylesheet" type="text/css" href='{{ (resources.Get "css/layout.css" | resources.PostCSS | minify | fingerprint | resources.PostProcess).RelPermalink }}'>
<link rel="stylesheet" type="text/css" href="{{ (resources.Get "css/semantic_reduced.min.css" | resources.PostCSS | minify | fingerprint | resources.PostProcess).RelPermalink }}">
