<section id="team" class="bg-two">
    <div id="nav-team"></div>
    <div class="section-one">
        <h2><div class="title-one">Team</div></h2>
        <div class="separator">
            <div class="line line-1"></div>
        </div>
        <div class="data-content-one">
        </div>
        <article class="content-team teamshow">
            <div class="teamlist">
                <div class="team">
                    <div class="who">
                        <!-- THREE -->
                        <div class="members-box">
                            <img src="../img/team/arne_square.webp" loading="lazy" style="border-radius:50%; margin:auto;display:block" width="165" height="165" alt="Arne Tarara">
                            <div class="name-team">Arne Tarara</div>
                            <div class="name-title">CEO</div>
                        </div>
                        <div class="photo-footer">
                            <div class="plus-btn">Follow +</div>
                            <div class="socialicons">
                                <a href="https://www.linkedin.com/in/arne-tarara" aria-label="LinkedIn">
                                    <div class="t-linkedin"></div>
                                </a>
                                <a href="mailto:arne@green-coding.io" aria-label="e-mail address">
                                    <div class="t-mail"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="who">
                        <div class="members-box">
                            <img src="../img/team/dan.webp" loading="lazy" style="border-radius:50%; margin:auto;display:block" width="165" height="165" alt="Dan Mateas">
                            <div class="name-team">Dan Mateas</div>
                            <div class="name-title">Developer</div>

                        </div>
                        <div class="photo-footer">
                            <div class="plus-btn">Follow +</div>
                            <div class="socialicons">
                                <a href="https://www.linkedin.com/in/dan-mateas-693634105" aria-label="LinkedIn">
                                    <div class="t-linkedin"></div>
                                </a>
                                <a href="mailto:dan@green-coding.io" aria-label="e-mail address">
                                    <div class="t-mail"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="who">
                        <div class="members-box">
                            <img src="../img/team/didi.webp" loading="lazy" style="border-radius:50%; margin:auto;display:block" width="165" height="165" alt="Didi Hoffmann">
                            <div class="name-team">Didi Hoffmann</div>
                            <div class="name-title">CTO</div>
                        </div>
                        <div class="photo-footer">
                            <div class="plus-btn">Follow +</div>
                            <div class="socialicons">
                                <a href="https://www.linkedin.com/in/dietgerhoffmann/" aria-label="LinkedIn">
                                    <div class="t-linkedin"></div>
                                </a>
                                <a href="mailto:didi@green-coding.io" aria-label="e-mail address">
                                    <div class="t-mail"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section><!-- end team -->