{{ define "site-navigation" }}
{{/* We can override any block in the baseof file be defining it in the template */}}
{{ partial "site-navigation.html" . }}
{{ end }}
{{ define "main" }}
<section id="about" class="bg-one">
    <div id="nav-about"></div>
    <div class="section-one">
        <div class="title-one">Green Coding Berlin</div>
        <div class="separator">
            <div class="line line-1"></div>
        </div>
        <div class="data-content-one">
            We are helping developers and companies understand and optimize the carbon emissions of their software and digital infrastructure.
        </div>
        <div class="data-content-one">
            Our mission at Green Coding Berlin is to research the energy consumption of software and it's infrastructure,
            create open source measurement tools and an ecosystem around green software.
        </div>
        <div class="separator">
            <div class="line line-1"></div>
        </div>
        <div class="data-content-one">
            <a href="/our-work">👉 Find out details of our work and the carbon emissions of software</a>.
        </div>
    </div>
</section><!-- end about -->
<section id="projects" class="bg-two">
    <div id="nav-projects"></div>
    <div class="section-two bottom-works">
        <div class="title-two">Our Projects</div>
        <div class="separator">
            <div class="line line-2"></div>
        </div>
        <div class="data-content-two">
            We develop tools to empower developers and users to make energy and carbon concious decisions
        </div>
        <div id="project-items-container" class="data-content-two">
            {{ range $index, $element := ( first 9 ( where .Site.RegularPages "Type" "projects" ) ) }}
                <a class="project-item" href="{{.Permalink}}">
                    <i class="{{ .Params.Icon }} icon"></i>
                    <div class="project-item-title">{{ .Title }}</div>
                </a>
            {{end}}
        </div>

    </div><!-- end portfolio -->

</section><!-- end contact -->
<section id="team" class="bg-two">
    <div id="nav-team"></div>
    <div class="section-one">
        <div class="title-one">team</div>
        <div class="separator">
            <div class="line line-1"></div>
        </div>
        <div class="data-content-one">
            The Green Coding Berlin team consists of software enthusiasts for climate friendly tech from Berlin.
        </div>
        <article class="content-team teamshow">
            <div class="teamlist">
                <div class="team">
                    <div class="who">
                        <!-- THREE -->
                        <div class="members-box">
                            <img src="../img/team/arne_square.webp" loading=lazy
                            style="border-radius:50%; margin:auto;display:block" width="165" height="165"></img>
                            <div class="name-team">Arne Tarara</div>
                        </div>
                        <div class="photo-footer">
                            <div class="plus-btn"></div>
                            <div class="socialicons">
                                <a href="https://www.linkedin.com/in/arne-tarara">
                                    <div class="t-linkedin"></div>
                                </a>
                                <a href="mailto:arne@green-coding.berlin">
                                    <div class="t-mail"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="who">
                        <div class="members-box">
                            <img src="../img/team/dan.webp" loading=lazy
                            style="border-radius:50%; margin:auto;display:block" width="165" height="165"></img>
                            <div class="name-team">Dan Mateas</div>
                        </div>
                        <div class="photo-footer">
                            <div class="plus-btn"></div>
                            <div class="socialicons">
                                <a href="https://de.linkedin.com/in/dan-mateas-693634105">
                                    <div class="t-linkedin"></div>
                                </a>
                                <a href="mailto:dan@green-coding.berlin">
                                    <div class="t-mail"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="who">
                        <div class="members-box">
                            <img src="../img/team/danilo.webp" loading=lazy
                            style="border-radius:50%; margin:auto;display:block" width="165" height="165"></img>
                            <div class="name-team">Danilo Ješić</div>
                        </div>
                        <div class="photo-footer">
                            <div class="plus-btn"></div>
                            <div class="socialicons">
                                <a href="https://www.linkedin.com/in/djesic-613732152/">
                                    <div class="t-linkedin"></div>
                                </a>
                                <a href="mailto:danilo@green-coding.berlin">
                                    <div class="t-mail"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="who">
                        <div class="members-box">
                            <img src="../img/team/didi.webp" loading=lazy
                            style="border-radius:50%; margin:auto;display:block" width="165" height="165"></img>
                            <div class="name-team">Didi Hoffmann</div>
                        </div>
                        <div class="photo-footer">
                            <div class="plus-btn"></div>
                            <div class="socialicons">
                                <a href="https://www.linkedin.com/in/dietgerhoffmann/">
                                    <div class="t-linkedin"></div>
                                </a>
                                <a href="mailto:didi@green-coding.berlin">
                                    <div class="t-mail"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section><!-- end team -->
<section class="works-container bg-two">
    <div id="nav-meetups"></div>
    <div class="section-two bottom-works">
        <div class="works-header">
            <div class="title-two">Meetups & Events</div>
            <div class="separator">
                <div class="line line-2"></div>
            </div>
            <div class="data-content-two">
                Browse through our latest events and watch recordings (if available :) )<br>
                For a full list: 👉 <a href="/meetups-and-events" style="color: white; text-decoration: underline;">All
                our Meetups & Events</a>
            </div>
        </div>
        <div id="portfolio" class="container">
            <div class="section portfoliocontent">
                <div id="container2" class="clearfix">
                    <div class="inici"></div>
                    {{ range $index, $element := ( first 9 ( where .Site.RegularPages "Type" "meetups-and-events" ) ) }}
                    <div class="element talks">
                        <a href="{{.Permalink}}">
                            <div class="ch-grid">
                                <div class="work-info"><span> {{.Title}}<br><span>Meetup.com</span></span></div>
                                {{ if (isset .Params "eventimg600w") }}
                                <img srcset="{{.Params.Eventimg}} 1x,
                                {{.Params.Eventimg600w}} 2x" src="{{.Params.Eventimg}}" style="width: 300px"
                                loading="lazy">
                                {{ else }}
                                <img src="{{.Params.Eventimg}}" style="width: 300px" loading="lazy">
                                {{ end }}
                            </div>
                        </a>
                    </div>
                    {{end}}
                    <div class="final"></div>
                </div>
                <!-- Project -->
                <div id="project-show"></div>
                <div class="project-window">
                    <div class="project-content"></div><!-- AJAX Dinamic Content -->
                </div><!-- end Project -->
            </div> <!-- #container -->
        </div> <!-- /END ISOTOPE PORTFOLIO-->
    </div><!-- end portfolio -->
</section>
<section id="references" class="bg-one">
    <div class="section-three">
        <div class="title-one">References</div>
        <div class="separator">
            <div class="line line-1"></div>
        </div>
        <div class="data-content-three">
            <img src="/img/references/axel-springer-logo.webp">
            <img src="/img/references/wbs-coding-school-logo.webp">
            <a href="https://sdialliance.org"><img src="/img/references/sdia-logo.webp"></a>
            <img src="/img/references/bits-und-baeume-logo.webp">
            <img src="/img/references/ironhack.webp">
            <a href="https://fosdem.org/2023/schedule/track/energy/"><img src="/img/references/fosdem-2023.webp"></a>
            <a href="https://www.arbeitsagentur.de/vor-ort/it-systemhaus/vorstellung"><img src="/img/references/ba-it-systemhaus.webp"></a>

        </div>
    </div>
    <div class="separator">
        <div class="line line-1"></div>
    </div>
    <div class="data-content-three">
        A curated list of organizations we have been working with or have been giving talks at.
    </div>
</section><!-- end contact -->

{{ end }}