{{ define "main" }}
    <section id="about" class="bg-one"><div id="nav-about"></div>
        <div style="display:block; height: 100px;"></div>
        <div class="section-one">
            <div class="title-one">What is Green Coding?</div>
            <div class="separator"><div class="line line-1"></div></div>
            <div class="data-content-one">
                The term green coding stands for software development with a focus on reduced carbon intensity, rather than classical
                performance or memory optimized development styles.
            </div>
            <div class="separator"><div class="line line-1"></div></div>
            <div class="data-content-one">
                At Green Coding Berlin we create a green software community and ecosystem in Berlin. Our flagship work is an <a href="https://github.com/green-coding-berlin/green-metrics-tool">open-source green software certifcation toolchain</a> that lets you quantify the energy consumption of arbitrary software in typical real world usage scenarios.
            </div>
            <div class="profile">
                <div class="pofile-item">
                    <div class="profile-element ico-two">
                    </div>
                    <div class="profile-title"><span>Business</span> Services</div>
                    <div class="profile-info">We help companies measure their internal softwares energy usage, green it and certify their software.</div>
                </div>
                <div class="pofile-item">
                    <div class="profile-element ico-one">
                    </div>
                    <div class="profile-title"><span>Developers</span> and Code</div>
                    <div class="profile-info">We educate developers through workshops of state of the art green coding practices</div>
                </div>
                <div class="pofile-item">
                    <div class="profile-element ico-three"></div>
                    <div class="profile-title"><span>Open</span> Data</div>
                    <div class="profile-info">We supply most of our measurements and benchmarks as open data to the community.</div>
                </div>
            </div>
         </div>
    </section><!-- end about -->

    <div class="works-container bg-two"><div id="nav-meetups"></div>
    <div class="section-two bottom-works">
    <div class="works-header">
        <div class="title-two">Latest Meetups</div>
        <div class="separator"><div class="line line-2"></div></div>
            <div class="data-content-two">
                Browse through our latest meetups and watch recordings (if available :) )<br>
                For a list of all our meetups see: <a href="/meetups">All our meetups</a>
            </div>
        </div>

    <div id="portfolio" class="container">
      <div class="section portfoliocontent">
        <div id="container2" class="clearfix">
          <div class="inici"></div>


            {{ range $index, $element := ( first 6 ( where .Site.RegularPages "Type" "meetups" ) ) }}
                <div class="element talks">
                    <a href="{{.Permalink}}">
                      <div class="ch-grid">
                        <div class="work-info"><span> {{.Title}}<br><span>Meetup.com</span></span></div>
                          <!--[if lte IE 9]> <div class="ch-itemie9 ch-img-{{$index}}"></div><![endif]-->
                          <!--[if gt IE 9]><!--><div class="ch-item ch-img-{{$index}}"></div><!--<![endif]-->
                      </div>
                    </a>
                </div>
            {{end}}



    <div class="final"></div>
    </div>

        <!-- Project -->
        <div id="project-show"></div>
        <div class="project-window">
            <div class="project-content"></div><!-- AJAX Dinamic Content -->
        </div><!-- end Project -->

 </div> <!-- #container -->

            </div> <!-- /END ISOTOPE PORTFOLIO-->
    </div><!-- end portfolio -->
</div>

    <section id="team" class="container"><div id="nav-team"></div>
        <div class="section-one">
            <div class="title-one">team</div>
            <div class="separator"><div class="line line-1"></div></div>
            <div class="data-content-one">
                The green coding organizer team consists of two enthusiasts for climate friendly tech from Berlin.
            </div>
            <article class="content-team teamshow">
                <div class="teamlist">
                    <div class="team">
                        
                        <div class="who"><!-- THREE -->
                            <div class="members-box">
                                <div class="photo photo-three"></div>
                                <div class="name-team">Arne Tarara</div>
                            </div>
                            <div class="photo-footer">
                                <div class="plus-btn"></div>
                                <div class="socialicons">
                                    <a href="https://www.linkedin.com/in/arne-tarara"><div class="t-linkedin"></div></a>
                                    <a href="mailto:info@green-coding.org"><div class="t-mail"></div></a>
                                </div>
                            </div>
                        </div>
                        <div class="who">
                            <div class="members-box">
                                <div class="photo photo-five"></div>
                                <div class="name-team">Dan Mateas</div>
                            </div>
                            <div class="photo-footer">
                                <div class="plus-btn"></div>
                                <div class="socialicons">
                                    <a href="https://linkedin.com/in/alexandreoliv"><div class="t-linkedin"></div></a>
                                    <a href="mailto:alexandre@green-coding.org"><div class="t-mail"></div></a>
                                </div>
                            </div>
                        </div>
                        <div class="who"><!-- TWO -->
                            <div class="members-box">
                                <div class="photo photo-five"></div>
                                <div class="name-team">Alexandre Oliveira</div>
                            </div>
                            <div class="photo-footer">
                                <div class="plus-btn"></div>
                                <div class="socialicons">
                                    <a hrefnav-team="https://linkedin.com/in/alexandre-oliv"><div class="t-linkedin"></div></a>
                                    <a href="mailto:alexandre@green-coding.org"><div class="t-mail"></div></a>
                                </div>
                            </div>
                        </div>
                        <div class="who"><!-- ONE -->
                            <div class="members-box">
                                <div class="photo photo-one"></div>
                                <div class="name-team">Jonathan Saudhof</div>
                            </div>
                            <div class="photo-footer">
                                <div class="plus-btn"></div>
                                <div class="socialicons">
                                    <a href="https://de.linkedin.com/in/jonathan-saudhof"><div class="t-linkedin"></div></a>
                                    <a href="mailto:info@green-coding.org"><div class="t-mail"></div></a>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
            </article>
        </div>
        <div class="navigation">
            <div class="nav-bar"></div>
            <div class="direction-bar">
                <div class="dir-left disable"></div>
                <div class="dir-right"></div>
            </div>
        </div>
    </section><!-- end team -->



    <div id="contact" class="container bg-two"><div id="nav-contact"></div>
        <div class="section-two">
          <div class="title-two">say hello</div>
          <div class="separator"><div class="line line-2"></div></div>
            <div class="data-content-two">
                You would like to give a talk on a green coding topic? Get to know more about our software certification toolchain? You are interested in a topic and want us to create the connection? You just want to connect?
            </div>
            <div class="data-content-two">
                Shoot us an email: info@green-coding.org
            </div>
    </div>
</div><!-- end contact -->

<!-- map -->

<!-- end map -->
{{ end }}
