{{ define "main" }}

{{/* img src="/img/index_background.webp" class="ui image full-width-image" alt="Green Coding Header"> */}}

<section id="about" class="bg-one">
    <div id="nav-about"></div>
    <div class="section-one">
        <div class="title-one">{{ i18n "home_what_we_do" }}</div>
        <div class="separator">
            <div class="line line-1"></div>
        </div>
        <div class="data-content-one">
            <p>{{ i18n "home_teaser" }}</p>
            <div class="btn-one">
                <a href="{{ absLangURL "services" }}"><span>{{i18n "home_cta"}}</span></a>
            </div>
        </div>
        <div class="separator">
            <div class="line line-1"></div>
        </div>
        <div class="data-content-one">
            <a href="{{ absLangURL "about" }}">{{ i18n "home_about_details" }}</a>.
        </div>
    </div>
</section><!-- end about -->


<section id="projects" class="bg-two">
    <div id="nav-projects"></div>
    <div class="single-page section-two">

        <h1><div class="title-two title-two-no-bottom-padding">{{ i18n "home_products" }}</div></h1>
        <div class="separator">
            <div class="line line-1"></div>
        </div>

        <div id="project-items-container" class="data-content-two" style="display: flex">
            <div class="ui relaxed items" id="carousel">
                {{ range $index, $element := sort (where .Site.RegularPages "Type" "products") ".Params.ordering" "asc" }}
                <div class="item" id="item{{$index}}">
                    <a class="carousel-link"><i class="ui icon huge chevron left"></i></a>
                    <div class="ui image">
                        <a href="{{.Permalink}}"><i class="{{ .Params.Icon }} huge icon project-item-white"></i></a>
                    </div>
                    <div class="content project-item-white">
                        <a class="header project-item-white" href="{{.Permalink}}">{{ .Title }}</a>
                        <p><a href="{{.Permalink}}" class="project-item-white">{{.Params.Desc}}</a></p>
                    </div>
                    <a class="carousel-link"><i class="ui icon huge chevron right"></i></a>
                </div>
                {{end}}
            </div>
        </div>
        <div id="carousel_buttons">
            {{ range $index, $element := sort (where .Site.RegularPages "Type" "products") ".Params.ordering" "asc" }}
            <button class="ui circular icon button" id="button{{$index}}" >
                <i class="{{ .Params.Icon }} icon" ></i>
            </button>
            {{end}}
        </div>
    </div><!-- end portfolio -->
    <br>
    <br>
    <br>
</section><!-- end contact -->

{{ partialCached "team.html" . }}

<section class="works-container bg-two">
    <div id="nav-events"></div>
    <div class="section-two bottom-works">
        <div class="works-header">
            <h2><div class="title-two">Talks & Events</div></h2>
        </div>
        {{ $filteredPages := slice }}
        {{ range .Sites.Default.RegularPages }}
            {{ if and (eq .Type "talks-and-events") (le (sub (now.Unix) (.Date.Unix)) 0) }}
                {{ $filteredPages = $filteredPages | append . }}
            {{ end }}
        {{ end }}

        {{ if ne (len $filteredPages) 0 }}
            <div id="portfolio" class="container">
                <div class="data-content-two">
                    <h3>{{ i18n "future_home_talks_teaser" }}</h3>
                </div>
                <div class="section portfoliocontent">
                    <div id="container2" class="clearfix">
                        <div class="inici"></div>
                            {{ range $index, $element := first 3 $filteredPages }}
                            <div class="element talks">
                                <a href="{{.Permalink}}">
                                    <div class="ch-grid">
                                        <div class="work-info"><span> {{.Title}}<br><span>{{.Params.Eventtype}}</span></span></div>
                                        <img src="{{.Params.Eventimg}}" style="width: 300px" loading="lazy">
                                    </div>
                                </a>
                            </div>
                            {{end}}
                        <div class="final"></div>
                    </div>
                </div> <!-- #container -->
            </div> <!-- /END ISOTOPE PORTFOLIO-->
        {{ end }}

        <div id="portfolio" class="container">
            <div class="data-content-two">
                <h3>{{ i18n "past_home_talks_teaser" }}</h3>
            </div>

            <div class="section portfoliocontent">
                <div id="container2" class="clearfix">
                    <div class="inici"></div>

                    {{/*
                        In translate page this call would be ... where .Site.RegularPages "Type" ...
                        But since the Site object changes depending on the current language we will get an empty folder if a folder is not fully translated.
                        Accessing .Sites.Default.Regularpages gives the general folder and can show even different languages in a variant
                   */}}

                   {{ $filteredPages := slice }}
                    {{ range .Sites.Default.RegularPages }}
                        {{ if and (eq .Type "talks-and-events") (gt (sub (now.Unix) (.Date.Unix)) 0) }}
                            {{ $filteredPages = $filteredPages | append . }}
                        {{ end }}
                    {{ end }}


                    {{ range $index, $element := first 6 $filteredPages }}
                    <div class="element talks">
                        <a href="{{.Permalink}}">
                            <div class="ch-grid">
                                <div class="work-info"><span> {{.Title}}<br><span>{{.Params.Eventtype}}</span></span></div>
                                <img src="{{.Params.Eventimg}}" style="width: 300px" loading="lazy">
                            </div>
                        </a>
                    </div>
                    {{end}}
                    <div class="final"></div>
                </div>
                <div class="data-content-two">
                    {{/* Use absLangURL here for a german list. But it will only work if there also articles that end in .de*/}}
                    👉 <a href="{{ absURL "talks-and-events" }}" style="color: white; text-decoration: underline;">{{ i18n "home_talks_full_list" }}</a>
                </div>


            </div> <!-- #container -->
        </div> <!-- /END ISOTOPE PORTFOLIO-->

    </div><!-- end portfolio -->
</section>

{{ partialCached "references.html" . }}

{{ end }}