<div id="services-contact-us">
    <div id="contactinfo">
        <h2 class="titlecontact">Contact us</h2>
        <p>Green Coding Solutions GmbH<br>
            Jablonskistr. 24<br>
        10405 Berlin (Germany)</p>
        <p>(+49) 160 947 930 24</p>
        <p><a href="mailto:info@green-coding.io">info@green-coding.io</a></p>
        <div class="media">
            <a href="https://www.linkedin.com/company/green-coding-berlin">
                <div class="t-linkedin"></div>
            </a>
            <a href="mailto:info@green-coding.io"><div class="t-mail"></div></a>
        </div>
    </div>
    <form id="formulario" action="https://submit-form.com/M3XrdBO9" method="post" data-static-form-name="contact">
        <fieldset>
            <div class="first">
                <label class="data-form" for="nameform">name</label>
                <input type="text" name="name" id="nameform" value="" placeholder="Your name ...">
                <label class="data-form" for="emailform">email</label>
                <input type="text" name="email" id="emailform" value="" placeholder="Your e-Mail ...">
            </div>
            <div>
                <label class="data-form" for="messageform">your message</label>
                <textarea name="message" id="messageform" placeholder="Your message ..."></textarea>
            </div>
            <div>
                <label class="data-form" for="messagesubmit">&nbsp;</label>
                <div id="messagesubmit-container" class="btn-one">
                    <input id="messagesubmit" type="submit" name="submit" value="Submit">
                </div>
            </div>
        </fieldset>
    </form>
</div>